# Database
DATABASE_URL="postgresql://finflow:finflow123@localhost:5432/finflow_db"

# Backend
PORT=3001
JWT_SECRET=supersecret_troque_em_producao
NODE_ENV=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:3001
