# Dependencies
node_modules/

# Build
dist/

# Environment
.env

# Prisma
# Keep migrations, but ignore some temporary files if any
# .prisma/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System
.DS_Store
